<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984860043255-qfe4sfksg36fot1tc5k0s13bqoutvmbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984860043255-qfe4sfksg36fot1tc5k0s13bqoutvmbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBUmoNEBv6zxacELzhyjEXFR58GlCo8RPw</string>
	<key>GCM_SENDER_ID</key>
	<string>984860043255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parvinder.chitchatapp</string>
	<key>PROJECT_ID</key>
	<string>chitchat-4001</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-4001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984860043255:ios:1d89ea42abf6fde14430f2</string>
	<key>DATABASE_URL</key>
	<string>https://chitchat-4001.firebaseio.com</string>
</dict>
</plist>